<div class="questionInfo">
	<table>
		<tbody>
			<tr>
				<td>{{currentQuestion.id}}</td>
				<td>{{currentQuestion.question}}</td>
				<td>{{currentQuestion.topic}}</td>
				<td>{{currentQuestion.subtopic}}</td><br>
			</tr>
		</tbody>
	</table>
	
	<div *ngFor="let choice of currentQuestion.choices;">
				<input type="radio" name="{{currentQuestion.id}}" value="{{choice.text}}">
				<label>{{choice.text}}</label> 
	</div>
</div>
<div>
	<button (click)="nextQuestion()">Next</button>
</div>
