<div class="questionInfo">
	<table>
		<tbody>
			<tr>
				<td>{{currentQuestion.id}}</td>
				<td>{{currentQuestion.question}}</td>
				<td>{{currentQuestion.topic}}</td>
				<td>{{currentQuestion.subtopic}}</td><br>
			</tr>
		</tbody>
	</table>
	
	<div *ngFor="let choice of currentQuestion.choices;">
				<input type="radio" name="{{currentQuestion.id}}" [value]="choice.text" (change)="onChoiceChange(choice)">
				<label>{{choice.text}}</label> 
	</div>
</div>
<div>
	<!-- How to retrieve the selected choice-->
	<button (click)="nextQuestion(answer)">Next</button>
</div>
